.card-body{
    height: 75px;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.movie-title.card-title.h5 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem; 
    transition: font-size 0.3s ease; 
    line-height: 1.2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal;
}

.col-lg-4.col-md-6.col-sm-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-card.card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 10px solid transparent;
    transition: border-color 0.3s ease;
}

img.card-img-top{
    border-radius: 0px;
}

.movie-card.seen {
    border: 10px solid transparent; 
    border-image-source: url('../imgs/gold3.jpg'); 
    border-image-slice: 50; 
    border-image-repeat: round; 
    overflow: hidden;
    transition: border-color 0.3s ease; 
}
  
  

  