.card-body{
    height: 75px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.col-lg-4.col-md-6.col-sm-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

  