.card-body{
    height: 75px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.col-lg-4.col-md-6.col-sm-12{
    display: flex;
    justify-content: center;
    align-items: center;
}


.movie-card.card {
    border: 10px solid green;
    border-radius: 10px;
    /* transition: border-color 0.3s ease; */
}
  
.movie-card.seen {
    border: 10px solid transparent; 
    border-radius: 10px;
    border-image-source: url('../imgs/gold.jpg'); 
    border-image-slice: 30; /* Adjust as needed to control the size of the image */
    border-image-repeat: round; /* Adjust to control how the image repeats */
    transition: border-color 0.3s ease; /* Optional transition effect */
}
  
  

  