

.col-lg-4.col-md-6.col-sm-12{
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-card.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    border: 10px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.image-wrapper {
    flex: 1; /* Take up remaining space */
    overflow: hidden; /* Hide any overflow */
}

img.card-img-top {
    flex: 1;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.card-body{
    min-height: 75px;
    max-height: 75px;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}


.movie-title.card-title.h5 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem; 
    transition: font-size 0.3s ease; 
    line-height: 1.2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal;
}

.movie-card.seen {
    border: 10px solid transparent; 
    border-image-source: url('../imgs/gold3.jpg'); 
    border-image-slice: 50; 
    border-image-repeat: round; 
    overflow: hidden;
    transition: border-color 0.3s ease; 
}
  
  

  